/* sidebar.css */

.sidebar {
	flex: 1 0 240px;
	max-width: 240px;
	border-right: solid 1px var(--border-lightest);
}
.sidebar nav {
	/* 
	position: fixed;
	top: var(--header-height);
	bottom: var(--footer-height);
	overflow-y: auto;
 	*/
	width: 100%;
}

.sidebar a {
	color: var(--link);
}

.sidebar nav ul ul {
	margin: 16px 0 16px 16px;
}

.sidebar nav > ul > li {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 30px;
}

.sidebar nav li li {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 12px;
}

