/* index.css */
@import url(reset.css);
@import url(variables.css);
@import url('https://cdn.jsdelivr.net/gh/yjkimpomit/fonts@master/Pretendard/Pretendard.css');
@import url(./components/button.css);

/* 폰트패밀리 */
body {
	color: var(--text);
}

a {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover);
	text-decoration: underline;
}

/* input */
input:autofill,
input:-webkit-autofill,
input:-webkit-input-placeholder {
	-webkit-text-fill-color: var(--link-hover);
}

/* common */
header, footer {
	z-index: 9999;
}
.ag-root {
	z-index: 1 !important;
}
